.header {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 3px 3px rgba($color: darken($color-medium-shadow, 50%), $alpha: 0.15);
    z-index: 1;
    &__logo {
        height: 100%;
        width: 175px;
    }
    &__image {
        width: 100%;
        object-fit: contain;
        margin-top: 10%;
    }
    &__back {
        position: absolute;
        left: 25px;
        i {
            color: $color-dark-background;
        }
    }
}