.main-button {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient($color-secondary, $color-primary);
    box-shadow: 0 7px 7px $color-medium-shadow;
}

.explore {
    .main-button {
        margin: 25px auto 15px auto;
    }
}

.menu {
    .main-button {
        margin: 40px auto;
    }
}