.card {
    background-color: white;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 5px 8px $color-light-shadow;
    @media screen and (min-width: 992px) {
        width: 48.8%;
    }
    &__new {
        position: absolute;
        z-index: 1;
        background-color: $color-tertiary;
        padding: 5px 10px;
        border-radius: 3px;
        top: 0;
        right: 0;
        margin: 12px;
    }
    &__image {
        width: 100%;
        height: 50vw;
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        @media screen and (min-width: 992px) {
            height: 20vw;
        }
    }
    &__description {
        width: 90%;
        margin: auto;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__text {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}