.dish {
    width: 100%;
    height: 68px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 7px 12px $color-light-shadow;
    padding: 10px 25px 10px 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
    cursor: pointer;
    @for $i from 1 to 5 {
        &--animation-#{$i} {
            animation: dish 1000ms ease 100ms*$i;
            animation-fill-mode: both;
        }
    }
    &:active {
        & > .dish__information {
            width: 75%;
        }
        & > .dish__price {
            transform: translateX(-150%);
        }
        & > .dish__save {
            transform: translateX(0);
            .fa-solid {
                transform: translateX(0) rotate(0);
            }
        }
    }
    @media screen and (min-width: 992px) {
        &:hover {
            & > .dish__information {
                width: 75%;
            }
            & > .dish__price {
                transform: translateX(-150%);
            }
            & > .dish__save {
                transform: translateX(0);
                .fa-solid {
                    transform: translateX(0) rotate(0);
                }
            }
        }
    }
    &__information {
        width: 90%;
        transition: width ease-in-out 800ms;
        h3, p {
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
    &__price {
        padding-left: 10px;
        width: 10%;
        transition: transform ease-in-out 800ms;
    }
    &__save {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 15%;
        background-color: $color-tertiary;
        transform: translateX(101%);
        transition: transform ease-in-out 800ms;
        .fa-solid {
            color: #FFFFFF;
            transform: translateX(-50%) rotate(1turn);
            transition: transform ease-in-out 800ms;
        }
    }
}