.like {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &__regular {
        position: absolute;
        z-index: 1;
        cursor: pointer;
        &:active + .like__solid {
            background-position-y: 100%;
            @media screen and (min-width: 992px) {
                background-position-y: 20px;
            }
        }
        @media screen and (min-width: 992px) {
            &:hover + .like__solid {
                background-position-y: 100%;
            }
        }
    }
    &__solid {
        background: linear-gradient($color-primary, $color-secondary) 0% 20px no-repeat;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: background-position 1000ms ease-in-out;
    }
}