.like {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 24px;
    height: 24px;
    &__regular {
        line-height: 24px;
        position: absolute;
        z-index: 1;
        cursor: pointer;
        opacity: 1;
        transition: opacity 200ms ease-in-out;
        &:hover {
            opacity: 0;
            + .like__solid {
                background-position-y: 100%;
            }
        }
    }
    &__solid {
        line-height: 24px;
        position: absolute;
        background: linear-gradient($color-primary, $color-secondary) 0% 20px no-repeat;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: background-position 1000ms ease-in-out;
    }
}