.explore {
    text-align: center;
    padding: 40px 0;
    background-color: #FAFAFA;
    &__heading {
        width: 50%;
        margin: auto;
    }
    &__discover {
        width: 80%;
        margin: 10px auto;
    }
}