.load {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: #fff;
    display: flex;
    animation: loading-fade 10000ms linear forwards;
}

.load__inner {
    margin: auto;
    width: 10vh;
    height: 10vh;
    display: flex;
    justify-content: center;
    position: relative;
    animation: loading-rotation 10000ms linear;
    opacity: 1;
}

.load__bar-origin {
    position: absolute;
    width: 6px;
    height: 2vh;
    transform-origin: center 5vh;
    @for $i from 1 through 20 {
        &-#{$i} {
            transform: rotate(18deg*$i);
        }
    }
}

.load__bar-scale {
    width: 100%;
    height: 100%;    
    border-radius: 0.5vh;
    background-color: #99E2D0;
    animation: loading-scale 2000ms ease-in-out 2; 
    animation-fill-mode: both;   
    transform-origin: center bottom;
    @for $i from 1 through 10 {
        &-#{$i} {
            animation-delay: 200ms*$i;
        }
    }
    @for $i from 11 through 20 {
        &-#{$i} {
            animation-delay: 200ms*($i - 10);
        }
    }
}

.main-page {
    animation: body 0ms 0ms;
    animation-fill-mode: backwards;
}