.restaurants {
    background-color: $color-light-background;
    padding: 60px 0;
    &__heading {
        width: 90%;
        margin: 0 auto 20px auto;
    }
    &__cards {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media screen and (min-width: 992px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: space-between;
        }
    }
}