.section {
    h2 {
        padding-bottom: 15px;
        animation: section-title 1000ms ease 100ms;
        animation-fill-mode: both;
        &::after {
            content: "";
            display: block;
            width: 40px;
            height: 3px;
            background: $color-tertiary;
            margin-top: 4px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}