// Color set //
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-light-background: #F7F7F7;
$color-medium-background: #EAEAEA;
$color-dark-background: #353535;
$color-step-icon: #7E7E7E;
$color-light-shadow: #E6E6E6;
$color-medium-shadow: #CCCCCC;

// Font family //
$family-common: 'Roboto', sans-serif;
$family-heading: 'Shrikhand', 'cursive';

// Font size //
$size-tag: 14px;
$size-common: 16px;
$size-card-heading: 18px;
$size-heading: 24px;
$size-restaurant-name: 27px;

// Font weight //
$weight-light: 300;
$weight-common: 400;
$weight-medium: 500;
$weight-bold: 700;
$weight-black: 900;